<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Book Notes</title>
</head>
<body>
    <div>
        <h1>Book Notes</h1>
        <div class="dropdown">
          <button class="dropbtn">Sort by</button>
          <div class="dropdown-content">
            <form action="/sort" class="sortButton" method="post">
              <input type="submit" name="sortby" value="rating">
            </form>
            <form action="/sort" class="sortButton" method="post">
              <input type="submit" name="sortby" value="last_read">
            </form>
            <form action="/sort" class="sortButton" method="post">
              <input type="submit" name="sortby" value="book_name">
            </form>
          </div>
        </div>
    </div>
    <div class="box">
        <% for(let item of bookItems){%>
        <div class="item">
            <div class="image">
              <img src="https://covers.openlibrary.org/b/id/<%=item.img_id%>-M.jpg">
            </div>


            <div id="details">
              <h2 id="title<%=item.id%>">
                <%= item.book_name %>
              </h2>
              <div class="subDetail">
                  <p id="rating">Your Rating: <%=item.rating  %></p>
                  <p id="date">Last Read On: <%=item.last_read  %></p>
                  <form action="/view" class="viewButton" method="post">
                    <input type="submit" name="viewItemId" value="<%= item.id %>">
                  </form>
              </div>
            <p><%=item.notes%></p>
            </div>

        </div>
          <% } %>

            <form class="item" action="/add" method="get">
              <button class="add" type="submit" name="list"  >+</button>
            </form>
    </div>
</body>
</html>
